{% extends 'base.html' %}

{% block script %}
    <script src="{{ url_for('static', filename='js/uploadstream.js') }}"></script>

{% endblock %}

{% block content %}
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="sidenav">
        <li >
            <a href="#navbarDropdown" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >
                Face Encoding
            </a>
            <ul class="collapse list-unstyled" id="navbarDropdown">
                <li >
                    <a href="/staticstream">Static Image Encoding</a>
                </li>
                <li>
                    <a href="/imageCapture"> Capture Image Encoding</a>
                </li>
            </ul>

        </li>

        <li >
            <a href="#navbarDropdown2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >
                Media Processing
            </a>
            <ul class="collapse list-unstyled" id="navbarDropdown2">
                <li>
                    <a href="/imageprocess">Static Media Processing</a>
                </li>
                <li>
                    <a href="/videoCapture"> Capture Video Processing</a>
                </li>
            </ul>

        </li>

    </div>

    <!-- /#sidebar-wrapper -->

     <!-- Page Content -->
    <div class="container-fluid static-box">
        <div id="page-content-wrapper">
            <h1 class="titleFont">Capture Image Encoding</h1>
            <div id="static_content">
                <article style="border:1px solid white;width:500px;height:500px;margin:0 auto;background-color:white;">
                    <section style="width:320px; height:240px;border:1px solid green; margin:50px auto;">
                        <div id="videos-container" style="width:320px; height:240px;">
                            <video id="video" width="320px" height="240px" autoplay="autoplay"></video>
                            <img src="" width="320px" height="240px" id="captureImg" style="display:None"/>
                        </div>
                    </section>
                    <section style="text-align:center;border:none; margin-top:20px;">
                        <button type="button" id="openCamera" class="btn btn-primary">
                            <i class="fa fa-camera-retro"></i> Open Camera
                        </button>
                        <button type="button" id="capture" class="btn btn-primary">
                            <i class="fa fa-ban"></i> Capture
                        </button>
                        <button type="button" id="send" class="btn btn-primary">
                            <i class="fa fa-upload"></i> Send
                        </button>
                    </section>

                    <section style="text-align:center;border:none; margin-top:20px;">
                        <div id="processresultdiv" >
                            <hr>
                            <div class="form-group row">
                                <div class="col col-md-3"><label style="font-size:12px;"><span>Detected Face</span></label></div>
                                <div class="col col-md-3">
                                    <img id="uploadFile_processed" width="70px"/>
                                </div>
                                <div class="col col-md-6 text-success">Face detected and encoded successfully, please proceed to <strong>Real Stream</strong> or <strong>Media Processing</strong> portion to test the model.</div>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>

<script>
    var m = new media({video: "#video",uploadURI:"/uploadfile",params:{}});
    $('#openCamera').on('click', function() {
        $(this).prop('disabled', true);
        $('#video').show();
        $('#captureImg').hide();
        m.init();
    });

    $('#capture').on('click', function() {
        var src = m.screenshot();
        $('#captureImg').show();
        $('#video').hide();
        $("#captureImg").attr('src', src);
        $('#openCamera').prop('disabled', false);
        m.closeMedia();
    });

    $('#send').on('click', function() {
        var image = $("#captureImg").attr('src');
        username = prompt("pls enter a value:");
        m.uploadImageFile(image, username);
    });

</script>
{% endblock %}