{% extends 'base.html' %}

{% block content %}


<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="sidenav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Face Encoding
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/staticstream">Static Image Encoding</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/imageCapture">Capture Image Encoding</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Media Processing
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/imageprocess">Static Media Processing</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/videoCapture">Capture Video Processing</a>
            </div>
        </li>
    </div>

    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div class="container-fluid static-box">
        <div id="page-content-wrapper">
            <div id="static_content">

                <div class="container-fluid" id="main">
                    <h2 class="text-center">Please upload an image or video to start detection</h2>
                    <form action="/uploadfile" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="custom-file">
                                <input id="uploadFile" name="uploadFile" type="file" >
                            </div>
                        </div>
                        <div id="processresultdiv" >
                            <hr>
                            <div class="form-group row">
                                <label class="col-sm-3"><span>Processed Result</span></label>
                                <div class="col col-md-3">
                                    <img id="uploadImg_processed" width="150px"/>
                                    <video controls width="250">
                                        <source id="uploadVid_processed" type="video/mp4">
                                        Sorry, your browser doesn't support embedded videos.
                                    </video>
                                </div>
                                <div class="col col-md-6 text-success">Media processed successfully</div>
                                <div class="col-sm-9">
                                    <a id="downloadbtn" href="#" class="btn btn-primary" role ="button">Download</a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-lg btn-success btn-uploadfile-3"><i class="fa fa-upload"></i> Upload</button>
                            <button type="button" class="btn btn-lg btn-secondary btn-resetfile-3"><i class="fa fa-ban"></i> Clear</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->
</div>

{% endblock %}
