{% extends 'base.html' %}

{% block content %}
<!--<div class="jumbotron" style="background-image:url({{ url_for('static', filename='img/main.png')}})" >-->
<div class="jumbotron" style="background-color: coral" >
    <div class="jumbotron-content container text-center">
        <h1>Mask Dection And Face Recognition</h1>
        <p>&nbsp;</p>
        <!-- <p>Explore new technology when touching "Me"...</p> -->
    </div>
</div>

<div class="container-fluid text-center">
    <h3 class="titleFont">Select a function</h3><br>
    <div class="row">
        <div class="col-md-3 offset-md-2">
            <h3 class="titleFont">Realtime Face Recognition</h3>
            <a href="/realstream">
                <img src="{{ url_for('static', filename='img/realtime_pro.gif')}}" class="img-responsive navImg" style="width:100%" alt="Image">
            </a>
            <p class="description">Offline Mode Only. This function helps to perform real time mask detection and face recognition with webcame.</p>
        </div>
        <div class="col-md-3 offset-md-2">
            <h3 class="titleFont">Image/Video Processing</h3>
            <a href="/staticstream">
                <img src="{{ url_for('static', filename='img/static_pro.gif')}}" class="img-responsive navImg" style="width:100%" alt="Image">
            </a>
            <p class="description">This function allows user to process static media for mask detection and face recognition. It also allow to add new face encoding to the system.</p>
        </div>
    </div>
</div>
{% endblock %}
